@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Alan Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #207bff;
  --color-background: #141414;
  --color-surface: #fafffd;
  --color-secondary: #23ce6b;
  --color-warning: #f6ae2d;
}

body {
  font-family: var(--font-sans);
}

h1 {
  color: var(--color-surface);
  font-family: var(--font-display);
  font-size: 7rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  color: var(--color-surface);
  font-family: var(--font-display);
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1;
}

h3 {
  color: var(--color-surface);
  font-family: var(--font-display);
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1;
}

p {
  color: rgb(from var(--color-surface) r g b / 0.5);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.text-secondary {
  font-size: 0.875rem;
  opacity: 0.7;
}