@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Alan Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #207bff;
  --color-background: #141414;
  --color-surface: #fafffd;
  --color-secondary: #23ce6b;
  --color-warning: #f6ae2d;
}

body {
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-display);
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-display);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-family: var(--font-display);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  font-family: var(--font-sans);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
}

.text-secondary {
  font-size: 0.875rem;
  opacity: 0.7;
}
