@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Alan Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #207bff;
  --color-background: #141414;
  --color-surface: #fafffd;
  --color-secondary: #23ce6b;
  --color-warning: #f6ae2d;
  --breakpoint-lg: 1080px;
  --breakpoint-2xl: 1440px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(from var(--color-surface) r g b / 0.3) var(--color-background);
}

body {
  font-family: var(--font-sans);
}

h1 {
  color: var(--color-surface);
  font-family: var(--font-display);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 5.25rem;
  }

  @media (min-width: 1080px) {
    font-size: 5.75rem;
  }

  @media (min-width: 1280px) {
    font-size: 7rem;
  }
}

h2 {
  color: var(--color-surface);
  font-family: var(--font-display);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 4.5rem;
  }

  @media (min-width: 1080px) {
    font-size: 5.5rem;
  }
}

h3 {
  color: var(--color-surface);
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }

  @media (min-width: 1080px) {
    font-size: 1.625rem;
  }
}

p {
  color: rgb(from var(--color-surface) r g b / 0.5);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.text-secondary {
  font-size: 0.875rem;
  opacity: 0.7;
}