---
interface Props {
  lang: "en" | "es";
}

const { lang }: Props = Astro.props;

const t =
  lang === "en"
    ? (await import("@/data/en/layout")).layoutContent
    : (await import("@/data/es/layout")).layoutContent;
---

<footer class="flex justify-center items-center pb-20">
  <small class="text-[1rem]">
    <span class="opacity-50">2025 | {t.footerPoweredBy}</span>
    <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary hover:underline"
    >
      Astro
    </a>
  </small>
</footer>
