---
interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;

const content =
  lang === "en"
    ? (await import("@/data/en/about")).content
    : (await import("@/data/es/about")).content;
---

<!-- About Section -->
<article id="about" class="flex flex-col gap-5 scroll-mt-25">
  <h2>
    {content.title}<br /><span class="opacity-15">{content.subtitle}</span>
  </h2>
  <div class="flex flex-col gap-4">
    {
      content.paragraphs.map((paragraph) => {
        const parts = paragraph.split("**");
        return (
          <p>
            {parts.map((part, index) => {
              const isHighlight = index % 2 === 1;
              return isHighlight ? (
                <span class="text-primary">{part}</span>
              ) : (
                part
              );
            })}
          </p>
        );
      })
    }
  </div>
</article>
