---
import Layout from "@/layouts/Layout.astro";
import Icons from "@/components/Icons.astro";
---

<Layout lang="en">
  <article class="flex flex-col">
    <h1>FRONTEND<br /><span class="opacity-15">DEVELOPER</span></h1>
    <p class="mt-5 max-w-lg !text-lg">
      Building web applications focused on clean design and seamless user
      experiences. Passionate about creating practical solutions through clean
      code and teamwork.
    </p>
    <nav class="flex flex-row flex-wrap mt-8 gap-4">
      <a
        href="https://www.linkedin.com/in/aaronmendezz/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit LinkedIn profile"
        class="flex flex-row gap-2 justify-center items-center px-4 py-1 text-surface hover:text-background bg-none hover:bg-surface rounded-full border border-surface/50"
      >
        <Icons name="linkedin" size={18} />
        LinkedIn
      </a>
      <a
        href="/Aaron_Mendez_CV_EN.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-row gap-2 justify-center items-center px-4 py-1 text-surface hover:text-background bg-none hover:bg-surface rounded-full border border-surface/50"
        aria-label="Open resume in PDF"
      >
        <Icons name="cv" size={18} />
        Resume
      </a>
    </nav>
  </article>
</Layout>
