<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aaron Mendez</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  if (localStorage.getItem("language") === null) {
    if (navigator.language.startsWith("es")) {
      localStorage.setItem("language", "es");
      window.location.href = "/es";
    } else {
      localStorage.setItem("language", "en");
    }
  } else {
    if (
      localStorage.getItem("language") === "es" &&
      !window.location.pathname.startsWith("/es")
    ) {
      window.location.href = "/es";
    }
  }
</script>
